FRONTEND_PORT=4553

BACKEND_PORT=5000

ROBOT_CONFIG_PATH=./robots_IPS.json

RECIPES_PATH=./recipes

CAMERA_SERVICE_URL=http://host.docker.internal:5001


CAMERA_BIND_ADDR=0.0.0.0:5001

CAMERA_DATABASE_PATH=./data/cameras.sqlite3

ROBOT_BACKEND_URL=http://127.0.0.1:5000

ROBOT_CONFIG_PATH_API=/api/config

IRAYPLE_SDK_DIR=C:\Program Files\HuarayTech\MV Viewer\Development
